/* This is the heading that the editorial uses */
h1{
    font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size:xx-large;
    display: inline-block;
  border: 2px solid #000;
  padding: 4px 8px;
}
/* This is the name of the publishing house */
h2{
    font-family: 'Gravitas One', sans-serif;
    text-align: center;
    font-size: 26px;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
}
/* This is the subtitle of the introduction */
header p{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
}
/* These are the article subheadings */
h4{
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    font-weight: bold;
}
/* subtitle formatting */
#page {
  display: inline-block;
  border: 1px solid #000;
  padding: 4px 8px;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
/* background edition */
 body {
  background: #f4f4f4;
  padding: 40px;
}
/* paragraph formatting */
main p{
 font-family:Georgia, 'Times New Roman', Times, serif;
  column-count: 3;
  column-gap: 30px;
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;

}