@charset "UTF-8";

/* Layout grid and spaces------------------------------------------------------------------------ */
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "aside1 livewell"
        "aside2 style"
        ".      health";
    gap: 1px;
}
h3{
    line-height: 9px;

}
section:nth-of-type(1){
      grid-area: livewell;
      line-height: 10px;
      width: 80%;
      margin-top:30px;
}
section:nth-of-type(1) p{
    line-height: 14px;
}

section:nth-of-type(2){
    grid-area: style;
    line-height: 9px;
    margin-bottom: 10px;
    width: 80%;
    margin-top:-95px;
}
section:nth-of-type(2) p{
    line-height: 14px;
}
section:nth-of-type(3){
      grid-area: health;
      line-height: 9px;
      width: 80%;
      margin-top:-128px;
}
section:nth-of-type(3) p{
    line-height: 14px;
}

aside:nth-of-type(1){
      grid-area: aside1;
      line-height: 9px;
}

aside:nth-of-type(2){
   grid-area: aside2;
   width: 86%;
}
aside:nth-of-type(2) h2{
   line-height: 1px;
   margin-top: 30px;
}

#container{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

header{
    display: flex;
    flex-direction: column;
}

header p{
    order:-1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-left: 60px;
}
figure{
    position: relative;
}

/* 31 */
figcaption em{
    display:inline-block;
    margin-right:10px;
    position: absolute;
    top: 404px;
    left: 28px;
    font-size: 3.5rem;
}
/* description */
figcaption p{
    margin:20px;
    line-height: 20px;
    width:40%;
    margin-top: -66px;
    margin-left: 28px;
    font-size:12px;
}
figcaption p:last-of-type{
    position:absolute;
    left:-183px;
    bottom: -284px;
    transform: rotate(-90deg);
    font-size:0.7rem;
    letter-spacing:2px;
}

/* Layout sizes, positions and styles====================================================== */

h1{
    margin: 0;
    margin-top: -29px;
    padding-bottom: 21px;
    text-align: center;
    margin-left:-106px;
    font-size: 8.3rem;
    word-spacing: 20px;
}
footer{
    text-align: center;
    margin-top: 30px;
    margin-right: -420px;
    font-size: 1.1rem;
    letter-spacing: 2px;
}



/* Typografy=============================================================================== */




/*Colors=====================================================================================*/
figcaption em, figcaption p:first-child{
    color: white;
}
h1{
    color:rgb(245, 107, 53);
}
footer em{
    color: rgb(245, 107, 53);
}
footer strong{
    font-weight: 500;
    -webkit-text-stroke: 1px black;
}




/*img=========================================================================================*/
img{
    width: 125%;
    margin-left:-50px;
    margin-right:50px;
    height: auto;
    background-image: url('img/model.png');
    background-size: contain;
}


