@charset "UTF-8";

/* Layout------------------------------------------------------------------------ */
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "aside1 livewell"
        "aside2 style"
        ".      health";
    gap: 20px;
}
section h3{
    line-height: 9px;

}
section:nth-of-type(1){
      grid-area: livewell;
      line-height: 16px;
      width: 80%;
}

section:nth-of-type(2){
grid-area: style;
line-height: 12px;
margin-bottom: 10px;
width: 80%;
}
section:nth-of-type(3){
      grid-area: health;
      line-height: 12px;
      width: 80%;
}

aside:nth-of-type(1){
      grid-area: aside1;
}

aside:nth-of-type(2){
   grid-area: aside2;
   width: 86%;
}
aside:nth-of-type(2) h2{
   line-height: 1px;
}

#container{
max-width: 1000px;
margin: auto;
padding: 20px;
}

header{
    display: flex;
    flex-direction: column;
}

header p{
    order:-1;
}
figure{
    position: relative;
}
figcaption em{
    display:inline-block;
    margin-right:10px;
    position: absolute;
    top: 299px;
    left: 50px;
    color: white;
}
figcaption p{
    margin:20px;
    line-height: 1px;
    width:100%;
}
figcaption p:last-of-type{
    position:absolute;
    left:-200px;
    bottom: -229px;
    transform: rotate(-90deg);
    font-size:0.7rem;
    letter-spacing:2px;
}



/* Typografy=============================================================================== */




/*Colors=====================================================================================*/



/*img=========================================================================================*/
img{
    width: 100%;
    height: auto;
    background-image: url('img/model.png');
    background-size: contain;
}


